body {
    font-family: 'Manrope', sans-serif;
    background-color: #201e1f;
    color: #feefdd;
}

#main {
    position: relative; 
    height: 95vh;
    padding-top: 6rem;
    margin-bottom: 6rem;
}

.navbar {
    border-bottom: 1px solid #feefdd;
    position: fixed;
    background-color: rgba(32, 30, 31, 1);
    z-index: 3;
}

a {
    color: #feefdd;
}

.dot {
    color: #ff6500;
}

.intro {
    color: #feefdd;
    font-size: 2rem;
    margin-left: 11rem;
}

.name {
    font-weight: 600;
    font-size: 5rem;
}

.colorful {
    overflow: hidden;
}

.stripe {
    padding-top: 15%;
    width: 38vw;
}

.blue {
    background-color: #329ebb;
}

.stripe:hover{
    animation-name: changecolor;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.green {
    background-color: #b1bf52;
}

.yellow {
    background-color: #ebdf41;
}

.orange {
 background-color: #e48c5c;
}

.dark-orange {
    background-color: #ff6500;
}

.pink {
    background-color: #d53492;
}

@keyframes changecolor {
    0%{}
    100%{background-color: #201e1f;}
}

.align-row {
    display: flex;
    justify-content: space-between;
}

.projects-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 7rem;
}

img {
    max-width: 100%;
    height: auto;
  }

.blue-border {
      border: 10px solid #329ebb;
  }  

.green-border {
    border: 10px solid #b1bf52;
  }     

.yellow-border {
    border: 10px solid #ebdf41;
  }   
  

.dark-orange-border {
    border: 10px solid #ff6500;
}

.orange-border {
    border: 10px solid #e48c5c;
  }

.pink-border {
    border: 10px solid #d53492;
  }  

.project {
    font-size: 1.5rem;
    color: #201e1f;
} 

#social {
    font-size: 4rem;
    text-align: center;
    margin-top: 6rem;
}

.expand:hover {
    color: #ff6500;
}

.sidebar {
    width: 1rem;
}

@media (max-width:1500px) {
    .intro {
        margin-left: 6rem;
    }
}

@media (max-width: 1200px) {
    .intro {
        font-size: 1.5rem;
    }

    .name {
        font-size: 4rem;
    }

    .projects-title {
        font-size: 2.4rem;
        margin-bottom: 5rem;
    }

    .project {
        font-size: 1.3rem;
    }

}

@media (max-width:992px) {

    .stripe {
        padding-top: 15%;
        width: 46vw;
    }

    .intro {
        font-size: 1.5rem;
        display: inline-block;
        width: 32vw;
        margin-left: 10%;
    }

    .name {
        font-size: 4.5rem;
    }

    .projects-title {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .project {
        font-size: 1.1rem;
    }

    #social {
        font-size: 3rem;
        text-align: center;
        margin-top: 4rem;
    }
}



@media (max-width:768px) {
    .intro {
        display: inline-block;
        width: 100%;
        margin-left: 10%;
        z-index: 1;
    }

    #colorful {
        position: absolute;
        top: 27%;
        right: 0;
    }

    .stripe {
        height: 10vh;
        width: 50vw;
    }

    .box-textshadow {
        text-shadow: 2px 2px 0px #201e1f;
   }

   .nobox-textshadow {
       text-shadow: 0px 0px 0px #201e1f;
   }
}

@media (max-width:576px) {
    .name {
        font-size: 3.5rem;
    }

    .projects-title {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .project {
        font-size: .9rem;
    }

    #social {
        font-size: 2rem;
        text-align: center;
        margin-top: 3rem;
    }
}

@media (max-width:440px) {
    .name {
        font-size: 4rem;
    }

    .projects-title {
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }
}