body {
    font-family: 'Manrope', sans-serif;
    background-color: #201e1f;
    color: #feefdd;
}

#main {
    position: relative; 
    height: 95vh;
}

nav {
    border-bottom: 1px solid #feefdd;
}

a {
    color: #feefdd;
}

.dot {
    color: #ff6500;
}

.intro {
    /*position: absolute;
    top: 16rem;
    left: 10rem;*/
    color: #feefdd;
    font-size: 2rem;
    margin-left: 12rem;
}

.name {
    font-weight: 600;
    font-size: 5rem;
}

.stripe {
    padding-top: 15%;
    width: 45rem;
}

.blue {
    background-color: #329ebb;
}

.green {
    background-color: #b1bf52;
}

.yellow {
    background-color: #ebdf41;
}

.orange {
 background-color: #e48c5c;
}

.pink {
    background-color: #d53492;
}

.project {
    margin: 1rem;
    padding-top: 21%;
    background-size: cover;
}

.align-row {
    display: flex;
    justify-content: space-between;
}

.projects {
    text-align: center;
    font-size: 3rem;
}

img {
    max-width: 100%;
    height: auto;
  }

.blue-border {
      border: 10px solid #329ebb;
  }  

.green-border {
    border: 10px solid #b1bf52;
  }     

.yellow-border {
    border: 10px solid #ebdf41;
  }   
  
.orange-border {
    border: 10px solid #e48c5c;
  }

.pink-border {
    border: 10px solid #d53492;
  }  